<template>
  <div class="container">
    <div class="row justify-content-between align-items-center">
      <b-button class="col-3" @click="$router.back()">
        <b-icon-arrow-left/>
        назад до графіка
      </b-button>
      <div class="col-6 text-center">Календар відвідувань {{ student.name }}</div>
      <div class="col-3 d-flex justify-content-end">
      <v-modal-edit :student="student"/>
      </div>
    </div>
    <v-my-calendar :student-id="this.$route.params.id"/>
  </div>
</template>

<script>
import VMyCalendar from "../VMyCalendar";
import VModalEdit from "@/components/VModalEdit";

export default {
  name: "StudentInfo",
  components: {VModalEdit, VMyCalendar},
  data: () => ({
    student: {},
  }),
  created() {
    const studentId = this.$route.params.id
    this.getStudent(studentId)
  },
  methods: {
    getStudent(studentId) {
      this.student = this.$store.getters.STUDENT(studentId)
    }
  }
}
</script>

<style scoped>

</style>