<template>
  <div class="container">
    <div class="row justify-content-center mt-3">
      <div class="col-2 d-flex justify-content-center align-items-center">
        СПИСОК СТУДЕНТІВ
      </div>
      <div class="col d-flex justify-content-center align-items-center hovehere" @click="atCurentMonth">
        поточний день(натисни для повернення) {{ $moment().format('LL') }}
      </div>
      <div class="col-2 d-flex justify-content-center align-items-center">
        <v-modal-add type="ADD" :student-list="studetList"/>
      </div>
    </div>
    <v-list ref="vList" :students="studetList"></v-list>
  </div>
</template>

<script>
import VList from "@/components/VList";
import moment from 'moment';
import VModalAdd from "../VModalAdd";

export default {
  name: "Students",
  components: {VModalAdd, VList},
  data: () => ({
    addUser: '',
    days: [],
    curentMonth: moment().month(),
    typeAdd: 'ADD',
    typeRemove: 'REMOVE',
  }),
  computed: {
    studetList() {
      return this.$store.getters.STUDENTS
    },
  },
  methods: {
    atCurentMonth(){
      this.$refs.vList.fromParentClick()
    },
  }
}
</script>

<style scoped>

</style>