<template>
  <div>
    <div class="row justify-content-end underhead">
      <div class="col-1">
        <button v-on:click="decrease">
          <b-icon-arrow-left></b-icon-arrow-left>
        </button>
      </div>
      <div class="col-8 text-center">
        {{ this.$moment().month(month).format("MMMM", "DD") }} {{ year }}
      </div>
      <div class="col-1">
        <button v-on:click="increase">
          <b-icon-arrow-right></b-icon-arrow-right>
        </button>
      </div>
    </div>
    <table class="table">
      <thead>
      <tr>
        <td><b>Ім'я</b></td>
        <td v-for="(day, index) in calendar()"
            :key="index"
            :class="{red: isRed(day), green: isGreen(day)}"
        >
          {{ day }}
        </td>
      </tr>
      </thead>
      <tbody>
      <tr v-for="student of students" :key="student.id">
        <td>
          <div class="row justify-content-between align-items-center">
          <div class="col">
            <router-link :to="{name: 'student', params:{id: student.id}}">
              {{ student.name }}
            </router-link>
          </div>
          <div class="col d-flex justify-content-end">
            <v-modal-remove :student="student"/>
          </div>
          </div>
        </td>
        <td v-for="(day, index) in calendar()"
            :key="index"
            @click="checkedDay(year, month, day, student.id)"

        >
          <div v-if="dutyToday(year, month, day, student.id)"><b-icon-check></b-icon-check></div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

</template>

<script>
import moment from 'moment';
import {myFunction} from "./mixins/myFunctions";
import VModalRemove from "./VModalRemove";

export default {
  name: "VList",
  components: {VModalRemove},
  mixins: [myFunction],
  props: {
    students: {
      type: Array,
      default: () => [],
      required: true
    }
  },
  data: () => ({
    curentDay: +moment().format('DD'),
    curentMonth: moment().month(),
    curentYear: moment().year(),
    month: moment().month(),
    year: moment().year(),
    daysCount: [],
  }),
  beforeUpdate() {
    document.removeEventListener('keydown', () => {})
  },
  computed: {
    myCouter() {
      return this.daysCount.length
    },

  },
  methods: {
    calendar() {
      return this.daysCount = [...Array(this.$moment().month(this.month).daysInMonth())].map((x, i) => i + 1);
    },
    isRed(day) {
      if ((this.curentDay >= day && this.curentYear >= this.year && this.curentMonth >= this.month)
          || (this.curentYear > this.year)) {
        return true
      } else {
        return false
      }
    },
    isGreen(day) {
      if ((this.curentDay < day && this.curentMonth <= this.month && this.curentYear <= this.year)
          || (this.curentMonth < this.month && this.curentYear <= this.year)) {
        return true
      } else {
        return false
      }
    },
    fromParentClick(){
      this.month = this.curentMonth
      this.year = this.curentYear
    },
  },
}
</script>

<style>

</style>
