<template>
  <div>
      <b-button pill variant="success" @click="showEditStudentModal">
        <b-icon-pen></b-icon-pen>EDIT</b-button>

    <b-modal
        id="userEditModal"
        :title="'EDIT STUDENTS'"
        ok-title="Save"
        @ok="editStudent">
      <form>
        <b-form-group
            label="Name"
            label-for="name"
        >
          <b-form-input
              id="name"
              v-model="editUser"
              required
          />
        </b-form-group>
      </form>
    </b-modal>


  </div>
</template>

<script>

export default {
  name: "VModalEdit",
  props: {
    student: {},
  },
  data: () => ({
    editUser: '',
  }),
  mounted() {
    this.editUser = this.student.name
  },
  computed: {},
  methods: {
    showEditStudentModal() {
      this.$bvModal.show('userEditModal')
    },
    editStudent() {
      if (this.editUser === '') {
        alert('ви не ввели імя')
      } else
        this.$store.dispatch('CHANGE_STUDENT', {id: this.student.id, name: this.editUser})
    }
    ,
  }
}
</script>

<style scoped>

</style>