<template>
  <div>
    <b-button pill variant="success" @click="showAddStudentModal">
      <b-icon-plus></b-icon-plus>
      {{ type }}
    </b-button>

    <b-modal
        id="userAddModal"
        :title="'ADD STUDENTS'"
        ok-title="Save"
        @ok="showSecondModal">
      <form>
        <b-form-group
            label="Name"
            label-for="name"
        >
          <b-form-input
              id="name"
              v-model="addUser"
          />
        </b-form-group>
      </form>
    </b-modal>

    <b-modal id="secondModalAdd"
             :title="`Ви ввели імя ${addUser}, зберегти?`"
             ok-title="Save"
             @ok="saveUser">

    </b-modal>
  </div>
</template>

<script>

export default {
  name: "VModalAdd",
  props: {
    type: {},
    studentList: {},
  },
  data: () => ({
    addUser: '',
  }),
  // beforeCreate() {
  //   console.log('beforeCreate')
  // },
  // created() {
  //   console.log('created')
  // },
  // beforeMount() {
  //   console.log('beforeMount')
  // },
  // mounted() {
  //   console.log('Mounted')
  // },
  // beforeUpdate() {
  //   console.log('beforeUpdate')
  // },
  // updated() {
  //   console.log('updated')
  // },
  // activated() {
  //   console.log('activated')
  // },
  // deactivated() {
  //   console.log('deactivated')
  // },
  // beforeDestroy() {
  //   console.log('beforeDestroy')
  // },
  // destroyed() {
  //   console.log('destroyed')
  // },
  computed: {},
  methods: {
    //функії слухачів подій модалок тут
    myListenerModel(e) {
       if (document.getElementById('userAddModal') !== null) {
        if (e.keyCode === 13) {
          this.$bvModal.hide('userAddModal')
          document.removeEventListener('keydown', this.myListenerModel)
          this.showSecondModal()
        }
      } else
        document.removeEventListener('keydown', this.myListenerModel)
    },
    myListenerAdd(e) {
      if (document.getElementById('secondModalAdd') !== null) {
        if (e.keyCode === 13) {
          this.$bvModal.hide('secondModalAdd')
          document.removeEventListener('keydown', this.myListenerAdd)
          this.saveUser()
        }
      } else
        document.removeEventListener('keydown', this.myListenerAdd)
    },
    // відкриття модалок тут
    showAddStudentModal() {
      this.$bvModal.show('userAddModal')
      document.addEventListener("keydown", this.myListenerModel)
    },
    showSecondModal() {
      document.removeEventListener('keydown', this.myListenerModel)
      if (this.addUser === '') {
        alert('ви не ввели імя')
      } else {
        document.addEventListener('keydown', this.myListenerAdd)
        this.$bvModal.show('secondModalAdd')
      }
    },
    saveUser() {
      this.$store.dispatch('SAVE_STUDENT', this.addUser)
      this.addUser = ''
    },
  }
}
</script>

<style scoped>

</style>
