<template>
  <div>
    <b-button class="closebtn" variant="danger" @click="showRemoveStudentModal">
      X
    </b-button>

    <b-modal
        :id="nameFirstModal"
        :title="`Ви хочете видалити ${student.name}`"
        ok-title="ВИДАЛИТИ"
        @keydown.native.enter="showRemoveStudentModal"
        @ok="showSecondModal"
    >

    </b-modal>

    <b-modal :id="nameSecondModal"
             :title="`Ви точно хочете видалити ${removeUser.name}?`"
             ok-title="ТОЧНО"
             @ok="removeStudent">

    </b-modal>
  </div>
</template>

<script>

export default {
  name: "VModalRemove",
  props: {
    student: {},
  },
  data: () => ({
    removeUser: '',
    nameFirstModal: '',
    nameSecondModal: '',
  }),
  created() {
    this.removeUser = this.student;
    this.nameFirstModal = this.student.name + this.student.id;
    this.nameSecondModal = 'second' + this.student.name + this.student.id
  },

  computed: {},
  methods: {
    myListenerModel(e) {
      if (document.getElementById(`${this.nameFirstModal}`) !== null) {
        if (e.keyCode === 13) {
          this.$bvModal.hide(`${this.nameFirstModal}`)
          this.showSecondModal()
          document.removeEventListener('keydown', this.myListenerModel);
        }
      } else
        document.removeEventListener('keydown', this.myListenerModel);
    },
    myListenerRemove(e) {
      if (document.getElementById(`${this.nameSecondModal}`) !== null)
        if (e.keyCode === 13) {
          document.removeEventListener('keydown', this.myListenerRemove);
          this.removeStudent()
        } else document.removeEventListener('keydown', this.myListenerRemove);
    },
    showRemoveStudentModal() {
      this.$bvModal.show(`${this.nameFirstModal}`)
      document.addEventListener("keydown", this.myListenerModel)
    },
    showSecondModal() {
      document.removeEventListener('keydown', this.myListenerModel);
      this.$bvModal.show(`${this.nameSecondModal}`)
      document.addEventListener("keydown", this.myListenerRemove)
    },
    removeStudent() {
      document.removeEventListener('keydown', this.myListenerRemove);
      this.$store.dispatch('REMOVE_STUDENT', this.removeUser.id)
      this.$store.dispatch('DELETE_IN_LIST', this.removeUser.id)
    }
    ,
  }
}
</script>

<style scoped>

</style>