<template>
  <table class="table ">
    <thead>
    <tr>
      <td>
        <button v-on:click="decrease">
          <b-icon-arrow-left></b-icon-arrow-left>
        </button>
      </td>
      <td colspan="5" class="text-center">{{ $moment().month(month).format("MMMM") }} {{ year }}</td>
      <td>
        <button v-on:click="increase">
          <b-icon-arrow-right></b-icon-arrow-right>
        </button>
      </td>
    </tr>
    <tr>
      <td v-for="d in day" :key="d">{{ d }}</td>
    </tr>
    </thead>
    <tbody>
    <tr v-for="(week, index) in calendar()" :key="index">
      <td v-for="day in week" :key="day.index"
          :class="{green: dutyToday(year, month, day.day, studentId), today: isToday(day.day)}"
          @click="checkedDay(year, month, day.day, studentId)"
      >
        {{ day.day }}
      </td>
    </tr>
    </tbody>
  </table>
</template>

<script>
import moment from 'moment';
import {myFunction} from "./mixins/myFunctions";

export default {
  name: "VMyCalendar",
  mixins: [myFunction],
  props: {
    studentId: {}
  },
  data: () => ({
    curentDay: +moment().format('DD'),
    curentMonth: moment().month(),
    curentYear: moment().year(),
    month: moment().month(),
    year: moment().year(),
    day: ["Пн", "Вт", "Ср", "Чт", "Пт", "Сб", "Нд"],
  }),
  computed: {
  },
  methods: {
    calendar() {
      let days = [];
      let week = 0;
      days[week] = [];
      const qtDays = this.$moment().month(this.month).daysInMonth();
      let indexOfDay = this.$moment().month(this.month).startOf('month').day()
      for (let i = 1; i <= qtDays; i++) {
        if (indexOfDay === 7) {
          indexOfDay = 0;
        }
        if (indexOfDay !== 1) {
          let objDay = {index: indexOfDay, day: i};
          days[week].push(objDay);
          indexOfDay++;
        } else if (indexOfDay === 1) {
          week++;
          days[week] = [];
          let objDay = {index: indexOfDay, day: i};
          days[week].push(objDay);
          indexOfDay++;
        }
      }
      if (days[0].length > 0) {
        for (let i = days[0].length; i < 7; i++) {
          days[0].unshift('');
        }
      }
      return days;
    },
    isToday(day) {
      if (day === this.curentDay && this.month === this.curentMonth && this.year === this.curentYear)
      return true
      else
        return  false
    }
  }
}
</script>

<style scoped>
.green {
  background-color: green;
}

.today {
  border: 3px solid red;

}
</style>