html, body {
    min-height: 100%;
    height: 100%;
}
.red {
    color: red;
}

.closebtn {
    padding: 0 5px;
}

.green {
    color: greenyellow;
}
.underhead{
    margin: 5px 0;
}
table, th, td{
    border-collapse: collapse;
    border: 1px solid black;
}
th, td, .hovehere {
    cursor: pointer;
}
